<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<root>
		<level value="DEBUG" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
		<appender-ref ref="error" />
	</root>

	<appender name="console" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[%date] [%thread] [%level] [%logger] - %message%newline" />
		</layout>
	</appender>

	<appender name="file" type="log4net.Appender.RollingFileAppender">
		<file value="logs/gameserver.log" />
		<filter type="log4net.Filter.LoggerMatchFilter">
			<loggerToMatch value="Disconnect" />
			<acceptOnMatch value="false" />
		</filter>
		<filter type="log4net.Filter.LoggerMatchFilter">
			<loggerToMatch value="GameServer.Services.AnalyticService" />
			<acceptOnMatch value="false" />
		</filter>
		<filter type="log4net.Filter.LoggerMatchFilter">
			<loggerToMatch value="GameServer.Services.MainLoopAnalyticService" />
			<acceptOnMatch value="false" />
		</filter>
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<datePattern value="'.'yyyy-MM-dd'.log'" />
		<maxSizeRollBackups value="30" />
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[%date] [%thread] [%level] [%logger] - %message%newline" />
		</layout>
	</appender>

	<appender name="error" type="log4net.Appender.RollingFileAppender">
		<file value="logs/gameserver_error.log" />
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="ERROR" />
		</filter>
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<datePattern value="'.'yyyy-MM-dd'.log'" />
		<maxSizeRollBackups value="30" />
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[%date] [%thread] [%level] [%logger] - %message%newline" />
		</layout>
	</appender>

	<!-- Disconnect Appender -->
	<appender name="disconnect" type="log4net.Appender.RollingFileAppender">
		<file value="logs/gameserver_disconnect.log" />
		<filter type="log4net.Filter.LoggerMatchFilter">
			<loggerToMatch value="Disconnect" />
			<acceptOnMatch value="true" />
		</filter>
		<filter type="log4net.Filter.DenyAllFilter" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<datePattern value="'.'yyyy-MM-dd'.log'" />
		<maxSizeRollBackups value="30" />
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[%date] [%thread] [%level] [%logger] - %message%newline" />
		</layout>
	</appender>

	<!-- Analytic Appender -->
	<appender name="analytic" type="log4net.Appender.RollingFileAppender">
		<file value="logs/gameserver_analytic.log" />
		<filter type="log4net.Filter.LoggerMatchFilter">
			<loggerToMatch value="GameServer.Services.AnalyticService" />
			<acceptOnMatch value="true" />
		</filter>
		<filter type="log4net.Filter.LoggerMatchFilter">
			<loggerToMatch value="GameServer.Services.MainLoopAnalyticService" />
			<acceptOnMatch value="true" />
		</filter>
		<filter type="log4net.Filter.DenyAllFilter" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<datePattern value="'.'yyyy-MM-dd'.log'" />
		<maxSizeRollBackups value="30" />
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[%date] [%thread] [%level] [%logger] - %message%newline" />
		</layout>
	</appender>

	<!-- Log Trade Appender -->
	<appender name="logtrade" type="log4net.Appender.RollingFileAppender">
		<file value="logs/logtrade/gameserver_logtrade.log" />
		<filter type="log4net.Filter.LoggerMatchFilter">
			<loggerToMatch value="LogTrade" />
			<acceptOnMatch value="true" />
		</filter>
		<filter type="log4net.Filter.DenyAllFilter" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<datePattern value="'.'yyyy-MM-dd'.log'" />
		<maxSizeRollBackups value="30" />
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[%date] - %message%newline" />
		</layout>
	</appender>

	<!-- Log Drop PK Appender -->
	<appender name="logdroppk" type="log4net.Appender.RollingFileAppender">
		<file value="logs/logdroppk/gameserver_logdroppk.log" />
		<filter type="log4net.Filter.LoggerMatchFilter">
			<loggerToMatch value="LogDropPk" />
			<acceptOnMatch value="true" />
		</filter>
		<filter type="log4net.Filter.DenyAllFilter" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<datePattern value="'.'yyyy-MM-dd'.log'" />
		<maxSizeRollBackups value="30" />
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[%date] - %message%newline" />
		</layout>
	</appender>

	<!-- Log Bay Ban Appender -->
	<appender name="logbayban" type="log4net.Appender.RollingFileAppender">
		<file value="logs/logbayban/gameserver_logbayban.log" />
		<filter type="log4net.Filter.LoggerMatchFilter">
			<loggerToMatch value="LogBayBan" />
			<acceptOnMatch value="true" />
		</filter>
		<filter type="log4net.Filter.DenyAllFilter" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<datePattern value="'.'yyyy-MM-dd'.log'" />
		<maxSizeRollBackups value="30" />
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[%date] - %message%newline" />
		</layout>
	</appender>

	<!-- Log Login Logout Appender -->
	<appender name="logloginlogout" type="log4net.Appender.RollingFileAppender">
		<file value="logs/logloginlogout/gameserver_logloginlogout.log" />
		<filter type="log4net.Filter.LoggerMatchFilter">
			<loggerToMatch value="LogLogInLogOut" />
			<acceptOnMatch value="true" />
		</filter>
		<filter type="log4net.Filter.DenyAllFilter" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<datePattern value="'.'yyyy-MM-dd'.log'" />
		<maxSizeRollBackups value="30" />
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[%date] - %message%newline" />
		</layout>
	</appender>

	<!-- Log Shop KTC Appender -->
	<appender name="logshopktc" type="log4net.Appender.RollingFileAppender">
		<file value="logs/logshopktc/gameserver_logshopktc.log" />
		<filter type="log4net.Filter.LoggerMatchFilter">
			<loggerToMatch value="LogShopKtc" />
			<acceptOnMatch value="true" />
		</filter>
		<filter type="log4net.Filter.DenyAllFilter" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<datePattern value="'.'yyyy-MM-dd'.log'" />
		<maxSizeRollBackups value="30" />
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[%date] - %message%newline" />
		</layout>
	</appender>

	<!-- Log Money Appender -->
	<appender name="logmoney" type="log4net.Appender.RollingFileAppender">
		<file value="logs/logmoney/gameserver_logmoney.log" />
		<filter type="log4net.Filter.LoggerMatchFilter">
			<loggerToMatch value="LogMoney" />
			<acceptOnMatch value="true" />
		</filter>
		<filter type="log4net.Filter.DenyAllFilter" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<datePattern value="'.'yyyy-MM-dd'.log'" />
		<maxSizeRollBackups value="30" />
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[%date] - %message%newline" />
		</layout>
	</appender>

	<!-- Player Inventory Appender -->
	<appender name="playerinventory" type="log4net.Appender.RollingFileAppender">
		<file value="logs/playerinventory/gameserver_playerinventory.log" />
		<filter type="log4net.Filter.LoggerMatchFilter">
			<loggerToMatch value="PlayerInventory" />
			<acceptOnMatch value="true" />
		</filter>
		<filter type="log4net.Filter.DenyAllFilter" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<datePattern value="'.'yyyy-MM-dd'.log'" />
		<maxSizeRollBackups value="30" />
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[%date] - %message%newline" />
		</layout>
	</appender>

	<!-- Log Save Error Appender -->
	<appender name="logsaveerror" type="log4net.Appender.RollingFileAppender">
		<file value="logs/LogSaveError/gameserver_LogSaveError.log" />
		<filter type="log4net.Filter.LoggerMatchFilter">
			<loggerToMatch value="LogSaveError" />
			<acceptOnMatch value="true" />
		</filter>
		<filter type="log4net.Filter.DenyAllFilter" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<datePattern value="'.'yyyy-MM-dd'.log'" />
		<maxSizeRollBackups value="30" />
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="[%date] - %message%newline" />
		</layout>
	</appender>
</log4net>
